<h4>Formularios <small>template</small></h4>

<hr />
<!-- Referencia local #forma de tipo ngForm -->
<form (ngSubmit)="guardar(forma)" #forma="ngForm">
  <div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <input
          class="form-control"
          type="text"
          placeholder="Nombre"
          name="nombre"
          [(ngModel)]="usuario['nombre']"
          minlength="5"
          required
          #nombre="ngModel"
        />
        <small class="sms-error" *ngIf="nombre.errors && nombre.errors['required'] && nombre.touched"
          >Campo Requerido
        </small>
        <small class="sms-error" *ngIf="nombre.errors && nombre.errors['minlength']"
          >Ingrese mínimo {{ nombre.errors['minlength']['requiredLength'] }} caracteres
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input
          class="form-control"
          type="text"
          placeholder="Apellido"
          name="apellido"
          [(ngModel)]="usuario['apellido']"
          required
          #apellido="ngModel"
        />
        <small class="sms-error" *ngIf="apellido.errors && apellido.errors['required'] && apellido.touched"
          >Campo Requerido
        </small>
        <small class="sms-error" *ngIf="apellido.errors && apellido.errors['minlength']"
          >Ingrese mínimo {{ apellido.errors['minlength']['requiredLength'] }} caracteres
        </small>
        <!-- [ngModel]="usuario.apellido" solo recibe informacion -->
        <!-- [(ngModel)]="usuario.apellido" recibe y emite cambios  -->
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">
      <input
        class="form-control"
        type="email"
        placeholder="Correo electrónico"
        name="correo"
        [(ngModel)]="usuario['correo']"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
      />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>
</form>
