<h4>Formularios <small>data</small></h4>
<hr />

<form [formGroup]="forma" (ngSubmit)="guardar()">
  <div class="form-group row">
    <label class="col-2 col-form-label">Nombre</label>
    <div class="col-8">
      <input formControlName="nombre" class="form-control" type="text" placeholder="Nombre" name="nombre" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Apellido</label>
    <div class="col-8">
      <input formControlName="apellido" class="form-control" type="text" placeholder="Apellido" name="Apellido" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">
      <input formControlName="correo" class="form-control" type="email" placeholder="Correo" name="Correo" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

  <pre>
    {{ forma.valid | json }}
  </pre>
</form>
