<h4>Formularios <small>data</small></h4>
<hr />

<form [formGroup]="forma" (ngSubmit)="guardar()">
  <div formGroupName="nombreCompleto">
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <input
          formControlName="nombre"
          [ngClass]="{
            'is-invalid': isInvalid(forma.get('nombreCompleto.nombre')),
            'is-valid': isValid(forma.get('nombreCompleto.nombre'))
          }"
          class="form-control"
          type="text"
          placeholder="Nombre"
          name="nombre"
        />
        <div class="invalid-feedback">
          {{ isInvalid(forma.get('nombreCompleto.nombre')) }}
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input
          [ngClass]="{
            'is-invalid': isInvalid(forma.get('nombreCompleto.apellido')),
            'is-valid': isValid(forma.get('nombreCompleto.apellido'))
          }"
          formControlName="apellido"
          class="form-control"
          type="text"
          placeholder="Apellido"
          name="Apellido"
        />
        <div class="invalid-feedback">
          {{ isInvalid(forma.get('nombreCompleto.apellido')) }}
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">
      <input
        [ngClass]="{ 'is-invalid': isInvalid(forma.get('correo')), 'is-valid': isValid(forma.get('correo')) }"
        formControlName="correo"
        class="form-control"
        type="email"
        placeholder="Correo"
        name="Correo"
      />
      <div class="invalid-feedback">
        {{ isInvalid(forma.get('correo')) }}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Username</label>
    <div class="col-8">
      <input
        [ngClass]="{ 'is-invalid': isInvalid(forma.get('usuario')), 'is-valid': isValid(forma.get('usuario')) }"
        formControlName="usuario"
        class="form-control"
        type="text"
        placeholder="Usuario"
        name="usuario"
      />
      <div class="invalid-feedback">
        {{ isInvalid(forma.get('usuario')) }}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Contraseña</label>
    <div class="col-8">
      <input
        [ngClass]="{ 'is-invalid': isInvalid(forma.get('password1')), 'is-valid': isValid(forma.get('password1')) }"
        formControlName="password1"
        class="form-control"
        type="password"
        placeholder="Contraseña"
        name="password1"
      />
      <div class="invalid-feedback">
        {{ isInvalid(forma.get('password1')) }}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Confirmar contraseña</label>
    <div class="col-8">
      <input
        [ngClass]="{ 'is-invalid': isInvalid(forma.get('password2')), 'is-valid': isValid(forma.get('password2')) }"
        formControlName="password2"
        class="form-control"
        type="password"
        placeholder="Confirmar Contraseña"
        name="password2"
      />
      <div class="invalid-feedback">
        {{ isInvalid(forma.get('password2')) }}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Acción</label>
    <div class="col-md-6" formArrayName="pasaTiempos">
      <input
        *ngFor="let pasatiempo of forma.get('pasaTiempos')['controls']; let i = index"
        [formControlName]="i"
        class="form-control"
        type="text"
      />
    </div>
    <button (click)="nuevoPasatiempo()" type="button" class="btn btn-primary">Agregar</button>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button [disabled]="forma.invalid || forma.pending" type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

  <pre>
    {{ forma.valid | json }}
  </pre>
  <pre class="mb-5">
    {{ forma.status | json }}
  </pre>
</form>
